@import 'variables.scss';

html {
    font-size: 67.5%;
}

body {
    background: $light;
    margin: 0;
    font-family: $body-font;
    overflow-x: hidden;
    scroll-behavior: smooth;
    -webkit-font-smoothing: antialiased;

    @media (max-width: 500px) {
        width: 95vw;
    }

    @import './header.scss'; 
    
    main {
        padding: 75px 25px 25px;
        min-height: 63vh;

       @import './home.scss'; 

       @import './about.scss';

       @import './work.scss';

    }

    @import './footer.scss';
}
    