@import 'variables.scss';

html {
    font-size: 67.5%;
}

body {
    background: $light;
    margin: 0;
    font-family: $body-font;
    overflow-x: hidden;
    scroll-behavior: smooth;
    width: 100vw;
    -webkit-font-smoothing: antialiased;

   @import './header.scss'; 
    
    main {
        margin: 75px 25px;
        min-height: 55vh;
        max-width: 100%;

       @import './home.scss'; 

       @import './about.scss';

    }

    @import './footer.scss';
}
    