html {
  font-size: 67.5%;
}

body {
  background: #d5fdfd;
  margin: 0;
  font-family: "Do Hyeon", sans-serif;
  overflow-x: hidden;
  scroll-behavior: smooth;
  -webkit-font-smoothing: antialiased;
}
@media (max-width: 500px) {
  body {
    width: 95vw;
  }
}
body header {
  display: flex;
  display: -webkit-flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-align-items: center;
  align-items: center;
  -webkit-flex-wrap: nowrap;
  flex-wrap: nowrap;
  width: 100%;
  height: 65px;
  position: fixed;
  top: 0;
  background: linear-gradient(#099 90%, 95%, transparent 100%);
  z-index: 5;
}
body header nav {
  margin: 0 auto;
  display: flex;
  display: -webkit-flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-justify-content: space-around;
  justify-content: space-around;
  -webkit-align-items: flex-start;
  align-items: flex-start;
  -webkit-flex-wrap: nowrap;
  flex-wrap: nowrap;
  position: relative;
  max-width: 100%;
}
body header nav a {
  font-size: 2rem;
  color: white;
  text-decoration: none;
  padding: 5px 15px;
  margin: 0 5px;
  outline: none;
}
body header nav a.Home:hover ~ hr {
  -webkit-transform: translate(-145px, 21px) !important;
  -moz-transform: translate(-145px, 21px) !important;
  -ms-transform: translate(-145px, 21px) !important;
  transform: translate(-145px, 21px) !important;
  width: 5rem !important;
}
body header nav a.Home.active ~ hr {
  -webkit-transform: translate(-145px, 21px);
  -moz-transform: translate(-145px, 21px);
  -ms-transform: translate(-145px, 21px);
  transform: translate(-145px, 21px);
  width: 5rem;
}
body header nav a.About:hover ~ hr {
  -webkit-transform: translate(-55px, 21px) !important;
  -moz-transform: translate(-55px, 21px) !important;
  -ms-transform: translate(-55px, 21px) !important;
  transform: translate(-55px, 21px) !important;
  width: 5rem !important;
}
body header nav a.About.active ~ hr {
  -webkit-transform: translate(-55px, 21px);
  -moz-transform: translate(-55px, 21px);
  -ms-transform: translate(-55px, 21px);
  transform: translate(-55px, 21px);
  width: 5rem;
}
body header nav a.Work:hover ~ hr, body header nav a.Work.active ~ hr {
  -webkit-transform: translate(36px, 21px);
  -moz-transform: translate(36px, 21px);
  -ms-transform: translate(36px, 21px);
  transform: translate(36px, 21px);
  width: 4.75rem;
}
body header nav a:nth-child(4).active ~ hr, body header nav a:nth-child(4):hover ~ hr {
  -webkit-transform: translate(135px, 21px);
  -moz-transform: translate(135px, 21px);
  -ms-transform: translate(135px, 21px);
  transform: translate(135px, 21px);
  width: 7rem;
}
body header nav hr {
  width: 50px;
  position: absolute;
  border: 1px solid white;
  -webkit-transform: translate(-139px, 21px);
  -moz-transform: translate(-139px, 21px);
  -ms-transform: translate(-139px, 21px);
  transform: translate(-139px, 21px);
  user-select: none;
  z-index: -1;
  transition: 0.5s ease-in-out;
}
body main {
  padding: 75px 25px 25px;
  min-height: 63vh;
}
body main.home {
  display: flex;
  display: -webkit-flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  -webkit-align-items: flex-start;
  align-items: flex-start;
  -webkit-flex-wrap: nowrap;
  flex-wrap: nowrap;
  user-select: none;
}
@media (max-width: 500px) {
  body main.home {
    display: flex;
    display: -webkit-flex;
    -webkit-flex-direction: column;
    flex-direction: column;
    -webkit-justify-content: space-evenly;
    justify-content: space-evenly;
    -webkit-align-items: center;
    align-items: center;
    -webkit-flex-wrap: nowrap;
    flex-wrap: nowrap;
  }
}
body main.home div.intro {
  display: flex;
  display: -webkit-flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  -webkit-justify-content: flex-start;
  justify-content: flex-start;
  -webkit-align-items: flex-start;
  align-items: flex-start;
  -webkit-flex-wrap: nowrap;
  flex-wrap: nowrap;
  width: max-content;
  width: intrinsic;
  position: relative;
}
body main.home div.intro h1 {
  color: #001a1a;
  font-family: "Gugi", cursive;
  font-size: 4rem;
  margin: 0;
}
@media (max-width: 500px) {
  body main.home div.intro h1 {
    font-size: 2rem;
  }
}
body main.home div.intro h3,
body main.home div.intro h4 {
  color: #099;
  font-size: 25px;
  padding: 0 5px;
  transition: 1s ease-out;
}
@media (max-width: 500px) {
  body main.home div.intro h3,
body main.home div.intro h4 {
    font-size: 1.5rem;
  }
}
body main.home div.intro h3 {
  border-bottom: 1px solid #099;
}
body main.home div.intro h4 {
  border-top: 1px solid #099;
  align-self: flex-end;
}
body main.home div.skills {
  display: flex;
  display: -webkit-flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-justify-content: flex-end;
  justify-content: flex-end;
  -webkit-align-items: flex-start;
  align-items: flex-start;
  -webkit-flex-wrap: nowrap;
  flex-wrap: nowrap;
  flex-wrap: wrap;
  max-width: 42%;
  width: 100%;
  transition: 1.5s ease-out;
}
@media (max-width: 500px) {
  body main.home div.skills {
    max-width: 100%;
  }
}
body main.home div.skills h2 {
  width: 100%;
}
body main.home div.skills img {
  width: 100px;
  height: 100px;
  object-fit: contain;
  margin: 2.5px;
  flex-basis: 17%;
}
@media (max-width: 500px) {
  body main.home div.skills img {
    width: 50px;
    height: 50px;
    border-radius: 5px;
    margin: 2.5px auto;
  }
}
body main.about {
  display: flex;
  display: -webkit-flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  -webkit-justify-content: flex-start;
  justify-content: flex-start;
  -webkit-align-items: center;
  align-items: center;
  -webkit-flex-wrap: nowrap;
  flex-wrap: nowrap;
  max-width: 100%;
}
body main.about h1 {
  font-size: 4rem;
  font-family: "Gugi", cursive;
}
body main.about img {
  margin: 0 auto;
  border-radius: 50%;
  width: 150px;
}
body main.about p {
  white-space: pre-line;
  font-size: 2rem;
  width: 100%;
}
body main.about p a {
  color: whitesmoke;
  text-decoration: none;
  position: relative;
}
body main.about p a::before {
  content: "";
  position: absolute;
  height: 1px;
  width: 100%;
  transform: translate(-400%, 22px);
  transition: 0.3s ease;
}
body main.about p a:hover::before {
  background: whitesmoke;
  transform: translateY(22px);
}
body main.work {
  display: flex;
  display: -webkit-flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  -webkit-justify-content: flex-start;
  justify-content: flex-start;
  -webkit-align-items: center;
  align-items: center;
  -webkit-flex-wrap: nowrap;
  flex-wrap: nowrap;
}
body main.work h1 {
  font-size: 4rem;
  font-family: "Gugi", cursive;
}
body main.work h2 {
  font-family: "Gugi", cursive;
  font-size: 3rem;
  color: #03D4FE;
  -webkit-text-stroke: 1px #099;
}
body main.work div.projects {
  display: flex;
  display: -webkit-flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  -webkit-justify-content: flex-start;
  justify-content: flex-start;
  -webkit-align-items: center;
  align-items: center;
  -webkit-flex-wrap: nowrap;
  flex-wrap: nowrap;
}
body main.work div.projects div.Project {
  width: 90%;
  display: flex;
  display: -webkit-flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  -webkit-justify-content: flex-start;
  justify-content: flex-start;
  -webkit-align-items: center;
  align-items: center;
  -webkit-flex-wrap: nowrap;
  flex-wrap: nowrap;
  background-size: cover;
  text-align: center;
  min-height: 150px;
  cursor: pointer;
  background-attachment: fixed;
  background-position: center;
  margin-bottom: 50px;
  border-radius: 50px;
  padding: 20px 50px;
  transition: 0.5s ease-out;
}
@media (max-width: 500px) {
  body main.work div.projects div.Project {
    border-radius: 25%;
    width: 80%;
  }
}
body main.work div.projects div.Project h2 {
  margin: 0;
}
body main.work div.projects div.Project p {
  color: whitesmoke;
  width: 90%;
  font-size: 2rem;
  user-select: none;
  text-shadow: 5px 5px 25px black, 5px 5px 25px black;
  margin-bottom: 0;
}
body main.work div.projects div.Project a {
  font-size: 2rem;
  color: #03D4FE;
  text-decoration: none;
  position: relative;
}
body main.work div.projects div.Project a::before {
  content: "";
  position: absolute;
  height: 2px;
  width: 0px;
  transform: translate(-50vw, 20px);
  transition: 0.5s ease-out;
}
body main.work div.projects div.Project a:hover::before {
  width: 100%;
  background: #03D4FE;
  transform: translateY(22px);
}
body main.work div.projects div.Project.BlackHole {
  background-image: linear-gradient(#000000aa, #000000aa), url(../images/projects/blackhole.png);
}
body main.work div.projects div.Project.BlackHole:hover {
  background-image: linear-gradient(#00000080, #00000080), url(../images/projects/blackhole.png);
}
body main.work div.projects div.Project.Howl {
  background-image: linear-gradient(#000000aa, #000000aa), url(../images/projects/howl.png);
}
body main.work div.projects div.Project.Howl:hover {
  background-image: linear-gradient(#00000080, #00000080), url(../images/projects/howl.png);
}
body main.work div.projects div.Project.Chao {
  background-image: linear-gradient(#000000aa, #000000aa), url(../images/projects/chao.png);
}
body main.work div.projects div.Project.Chao:hover {
  background-image: linear-gradient(#00000080, #00000080), url(../images/projects/chao.png);
}
body footer {
  display: flex;
  display: -webkit-flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-justify-content: space-around;
  justify-content: space-around;
  -webkit-align-items: flex-start;
  align-items: flex-start;
  -webkit-flex-wrap: nowrap;
  flex-wrap: nowrap;
  flex-wrap: wrap;
  width: 50%;
  margin: 0 auto 20px;
  transition: 1s ease-out;
  bottom: 0;
}
@media (max-width: 500px) {
  body footer {
    width: 100%;
  }
}
body footer h2 {
  width: 100%;
  text-align: center;
}
body footer i {
  display: flex;
  display: -webkit-flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  -webkit-justify-content: flex-start;
  justify-content: flex-start;
  -webkit-align-items: center;
  align-items: center;
  -webkit-flex-wrap: nowrap;
  flex-wrap: nowrap;
  transition: 0.3s ease-out;
  font-size: 5rem;
  cursor: pointer;
  color: #099;
}
body footer i:hover {
  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
}

/*# sourceMappingURL=index.css.map */
